body{
    background-image: url(bg.png);
    display:flex;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center ;
    position: relative;
    height:100vh;
}

#item{
    width:100px;
    height:100px;
    background-color: crimson;
    border-radius: 10%;
}

#parent{
    /* position: absolute; */
    display: grid;
    /* grid-template-columns: ; */
    
    background-color: rgb(33, 10, 63);
    padding:10px;
    border-radius: 10%;
}
input{
    background-color: blueviolet;
    border:none;
}

@media (min-width:601px) and (max-width:900px){
    body{
       background-image: url(bg2.png);

    }
    #parent{
        display:flex;
        flex-flow:row wrap;
        /* justify-content: center; */
    
    }
    #item{
        width:49%;
        content: 'Tablet View';
        /* background-color: blue; */
    }
    #view{
        content:"Tablet View";
        background-color: red;
    }
}

@media (min-width: 300px) and (max-width:600px){
    body{
       background-image: url(bg3.png);
    }
    #parent{
        display:flex;
        flex-flow:column wrap;
        justify-content: center;

    }
    #item{
        width:100%;
        content: 'Tablet View';
        /* background-color: blue; */
    }
}
